.footer {
    background-color: #F8F8F8;
    border-top: 1px solid #09b4ac;
    text-align: left;
    padding: 20px;
    position:fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
}

